[init]
	defaultBranch = main
[alias]
	l = log --oneline
	s = status
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = true
[push]
	autoSetupRemote = true
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
