<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardShortcuts_click</key>
	<string>{"carbonKeyCode":36,"carbonModifiers":0}</string>
	<key>KeyboardShortcuts_debugElement</key>
	<string>{"carbonKeyCode":119,"carbonModifiers":256}</string>
	<key>KeyboardShortcuts_reloadUI</key>
	<string>{"carbonKeyCode":15,"carbonModifiers":768}</string>
	<key>KeyboardShortcuts_toggleLockUI</key>
	<string>{"carbonKeyCode":115,"carbonModifiers":256}</string>
	<key>KeyboardShortcuts_toggleShortcat</key>
	<string>{"carbonKeyCode":49,"carbonModifiers":768}</string>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>5702</real>
	<key>NSWindow Frame com.sindresorhus.Preferences.FrameAutosaveName</key>
	<string>426 245 660 511 0 0 1512 949 </string>
	<key>SUFeedURL</key>
	<string>https://updates.shortcat.app/appcast.xml</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-08-28T22:06:36Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>697953950</integer>
	<key>downKeycode</key>
	<integer>38</integer>
	<key>leftKeycode</key>
	<integer>4</integer>
	<key>rightKeycode</key>
	<integer>37</integer>
	<key>telemetryIdentifier</key>
	<string>cf5cdfb49f6143abb542dca9833683a1</string>
	<key>upKeycode</key>
	<integer>40</integer>
	<key>welcomeDisplayed</key>
	<true/>
</dict>
</plist>
